<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.2.0" targetFramework="net462" />
</packages>